Flask
Flask-Login
Flask-SQLAlchemy==2.4.1
gunicorn
fuzzywuzzy
html5lib
httplib2==0.14.0
Jinja2
jira
#mysql-python==1.2.5
mysqlclient==1.3.12
mysql-connector-python==8.0.18
numpy
Office365-REST-Python-Client==2.1.5
openpyxl
pandas
Pillow
pip
requests==2.22.0
setuptools
simplejson==3.8.1
SQLAlchemy==1.3.10
ua-parser
urllib3==1.25.6
Werkzeug
wheel
xlrd==1.2.0
xlutils
xlwt==1.3.0
python-ldap

